@font-face {
    font-family: "Sailec";
    src: url("./font/sailec-bold_freefontdownload_org.zip");
}

@font-face {
    font-family: "Titillium";
    src: url("./font/titillium-web.zip");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: rgba(102, 102, 102, 0.85);
    font-family: "titillium";
}

header {
    padding: 28px 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

nav ul {
    display: flex;
    align-items: center;
    gap: 22px;
}

nav a {
    font-family: "sailec";
}

#academy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data {
    width: 545px;
    margin-left: 175px;
    color: rgba(74, 74, 74, 1);
    padding: 76.7px 8px 93.69 15px;
}

h1 {
    font-family: "sailec";
    font-weight: 400;
    font-size: 48px;
    line-height: 58.08px;
    letter-spacing: 0.25px;
    color: rgba(74, 74, 74, 1);
}

p {
    font-family: "titillium";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}

#academy img {
   margin-right: 120px;
}

#about img {
    margin-left: 120px;
    margin-right: 10px;
}

#about {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    color: rgba(74, 74, 74, 1);
    font-family: "sailec";
    font-weight: 400;
    font-size: 36px;
    line-height: 43.56px;
    letter-spacing: 0.25px;
}

#about p {
    margin-top: 15px;
    margin-bottom: 21px;
}

.blue {
    color: rgba(29, 111, 243, 1);
    font-family: "t itillium";
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0.25px;
    text-align: center;

}

.data2 {
    width: 458px;
    margin-right: 247px;
}

#work {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data3 {
    width: 500px;
    margin-right: 45px;
    margin-left: 190px;
}

.data3 p {
    margin-top: 20px;
    margin-bottom: 52px;
}

#work img {
    margin-right: 120px;
}

section {
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#blog {
    align-items: left;
    /* gap: 30px; */
    flex-wrap: wrap;
    margin: 0 195px;
    flex-direction: column;
    margin-bottom: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 280px;
    height: 245px;
    padding: 20px 20px 15px 20px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    opacity: 0.95;
}

h3 {
    color: rgba(74, 74, 74, 1);
    font-family: "sailec";
    font-weight: 400;
    font-size: 36px;
    line-height: 43.56px;
    letter-spacing: 0.25px;
} 

.text p {
    font-size: 16px;
}

.red {
    /* min-width: 1700px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
    gap: 30px; 
}

#startLearning {
    padding: 30px 180px 81px;
    background-color: #EEE;
}

.cont {
    display: flex;
    min-width: 1050px;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start p {
    width: 463px;
    margin-top: 18px;
}

.start h2 {
    margin-top: 49px;
}

.cont form {
    margin-bottom: 23px;
    display: flex;
    align-items: center;
}

.cont input {
    width: 300px;
    height: 42px;
    color: #979797;
    border-color: #979797;
    padding-left: 7px;
}

.cont button {
    margin-left: -1px;
    background-color: rgba(29, 111, 243, 1);
    padding: 0px 23px;
    color: #fff;
    border: 1px solid rgba(0,0,0, 0.05);
    width: 400px;
    font-style: 18px;
    line-height: 40.56px;
}

footer {
    padding: 50px 195px 100px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.fblock {
    width: 240px;
}

h4 {
    margin-bottom: 16px;
    font-family: Sailec-Bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: rgba(74, 74, 74, 1);
}

ul li {
    font-family: "titillium";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: rgba(99, 114, 128, 1);
}

.gray {
    width: 30px;
    height: 3px;
    background-color:rgba(0,0,0,0.1);
}

.soc {
    display: flex;
    gap: 9px;
    align-items: end;
}